/* Estilos para el cuerpo y el documento */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/* Estilo para el contenedor de información geográfica */
#geo-info {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  display: none; /* Ocultar inicialmente */
}

/* Estilo para la imagen del Star Chart */
#star-chart {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: none; /* Ocultar inicialmente */
  max-width: 400px;
  max-height: 400px;
}

/* Estilo para el contenedor de p5.js */
#p5-container {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: none; /* Ocultar inicialmente */
  max-width: 400px;
  max-height: 400px;
}